#subscribe{
    background: #F5F5F5;
    .subscribe-content{
        .subscribe-wrapper{
            padding: 60px 0px;
            .subscribe{
                max-width: 50%;
                margin: 0 auto;
                .input-group-text {
                    background-color: unset;
                    border: unset;
                }
                .input-group {
                    align-items: center;
                }
                .heading{
                    h5{
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 147.4%;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: #86BE24;
                    }
                    h2{
                        font-style: normal;
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 147.4%;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: #2D3150;
                        margin-bottom: 0px;
                    }
                    h3{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 26px;
                        line-height: 147.4%;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: #2D3150;
                        margin-bottom: 40px;
                    }
                }
                .form{
                    background: #FFFFFF;
                    box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
                    -webkit-box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 0px 14px -7px rgba(0,0,0,0.75);
                    border-radius: 14px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    .input-group-text{
                        svg{
                            color: #9092B0;
                        }
                    }
                    .form-control {
                        display: block;
                        padding: 0px;
                        font-weight: 600;
                        font-size: 1rem;
                        line-height: 1.5;
                        color: #212529;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: unset;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        border-radius: 0.25rem;
                        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                        &:focus{
                            box-shadow: unset !important;
                        }
                    }
                    button[type='submit'] {
                        background: #84C000;
                        border-radius: 14px;
                        border-color: #84C000;
                        padding: 6px 16px;
                        &:hover{
                            background-color: #a1d52f;
                            transition: all 500ms;
                        }
                        svg{
                            margin-right: 15px;
                        }
                    }
                    form{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 7px;
                    }
                }
            }
        }
    }
}