#heading{
    .heading-content{
        .page-heading-wrapper{
            background: #84c000;
            padding: 30px 0px;
            .heading-content{
                h2{
                    text-align: center;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 0px;
                }
            }
        }
        .filter-cat-title{
            margin-top: 1rem;
        }
    }
}