#banner {
    background-image: url(../../../assets/images/banner-bg.png);
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .banner-wrapper{
        .banner-content{
            .banner-heading{
                max-width: 60%;
                margin-top: 60px;
                h1 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 45px;
                    line-height: 126.9%;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                }
            }
        }
    }
}