.nav-wrapper{
    box-shadow: 0px 0px 15px -7px RGBA(0,0,0,0.8);
    .nav-logo{
        max-width: 72%;
    }
    .navbar-nav{
        a{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 126.9%;
            letter-spacing: 0.02em;
            // color: #5C5E87 !important;
            padding: 9px 13px !important;

            &.green-text{
                color: #84C000;
            }
    
            &.green-bg{
                background: #84C000;
                border-radius: 10px;
                color: #FFFFFF !important;
                padding: 8px 26px !important;;
                margin-left: 15px;
            }

            &.green-bg:hover{
                background-color: #a1d52f;
                transition: all 500ms;
            }
            
        }

        
    }
}