#information{
    background-color: #9ED32B;
    .information-content{
        .information-wrapper{
            .information{
                text-align: center;
                padding: 70px 0;
                .info-img{
                    text-align: left;
                    img{
                        align-self: center;
                        max-width: 80%;
                        height: auto;
                    }
                }

                .info-text{
                    p{
                        font-style: normal;
                        font-weight: 300;
                        font-size: 23px;
                        line-height: 120%;
                        letter-spacing: 0.02em;
                        color: #000;
                        text-align: left;
                        align-self: center;
                    }
                }
            }
        }
    }
}