#clients{
    .clients-content{
        .clients-wrapper{
            padding: 60px 0px;
            .clients{
                .heading{
                    text-align: center;
                    h1, h2{
                        font-style: normal;
                        font-weight: 600;
                        font-size: 35px;
                        line-height: 147.4%;
                        text-align: center;
                        letter-spacing: 0.02em;
                        color: #2D2D2D;
                    }
                    h2{
                        color: #4B4AEF
                    }

                }
                .map{
                    background-image: url(../../../assets/images/clients-bg-map.png);
                    height: 550px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                    width: 75%;
                    margin: 0 auto;
                    .clients-imgs{
                        .client1, .client2, .client3, .client4, .client5, .client6, .client7{
                            img{
                                position: absolute;
                            }
                        }
                        .client1{
                            img{
                                right: 43%;
                                top: 10%;
                            }
                        }
                        .client2{
                            img{
                                right: 10%;
                                top: 6%;
                            }
                        }
                        .client3{
                            img{
                                right: 11%;
                                top: 24%;
                            }
                        }
                        .client4{
                            img{
                                right: 10%;
                                top: 45%;
                            }
                        }
                        .client5{
                            img{
                                right: 24%;
                                top: 58%;
                            }
                        }
                        .client6{
                            img{
                                left: 22%;
                                top: 15%;
                            }
                        }
                        .client7{
                            img{
                                left: 4%;
                                top: 38%;
                            }
                        }
                    }
                }
            }
        }
    }
}