#health_blogs{
    background: #F5F5F5;
    padding: 45px 0px 68px 0px;
    .blog-content {
        .heading-wrapper{
            text-align: center;
            padding: 0px 0px 60px 0px;    
            .heading{
                h1{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 180%;
                    color: #2F327D;
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 180%;
                    text-align: center;
                    color: #696984;
                }
            }
        }   
    }
    .blog-content{
        .blog-wrapper{
            max-width: 85%;
            .blog-card {
                display: flex;
                flex-direction: column;
                .card-img {
                    img{
                        max-width: 100%;
                        border-radius: 10px;
                    }
                    
                }
                .details{
                    margin: 30px 0px;
                    .card-label {
                        background: #84C000;
                        border-radius: 80px;
                        font-size: 15px;
                        line-height: 180%;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;
                        padding: 2px 20px;
                        display: inline-block;
                        cursor: pointer;
                    }
                    .card-title {
                        font-style: normal;
                        font-weight: 500 !important;
                        font-size: 20px;
                        line-height: 1.5;
                        color: #424248;
                        font-weight: bold;
                    }
                    .card-desc {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: #696984;
                        margin-bottom: 1.3rem;
                    }
                    a {
                        letter-spacing: 0.02em;
                        text-decoration-line: underline;
                        color: #696984;
                        margin-top: 0;
                    }
                }
            }
        }
        .blog-list-wrapper{
            .blog-card {
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;
                .card-img {
                    position: relative;
                    img {
                        max-width: 90%;
                    }
                    .card-label {
                        position: absolute;
                        right: 40px;
                        bottom: 18px;
                        background: #84C000;
                        border-radius: 80px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 27px;
                        letter-spacing: 0.02em;
                        color: #FFFFFF;
                        padding: 0px 18px;
                        cursor: pointer;
                    }
                }
                .details{
                    .card-title {
                        font-size: 17px;
                        line-height: 1.5;
                        color: #424248;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }
                    .card-desc {
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.02em;
                        color: #696984;
                    }
                }
            }
        }
        
    }
}